/* With CSS | The 6 boxes & body */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent{
  height: 100vh;
  display: grid;
  
  grid-template-columns: 5fr 4fr 3fr;
  /*marka rabtid iney columns-yada dhan isku cabir noqdan*/
  /*    grid-template-columns: repeat(3, 2fr);    */
  grid-template-rows: 2fr 4fr 4fr;
  /*marka rabtid in uu height-ka rowa iku mid noqdan iyo marka content badan ku qorto box aad ugu dhigi karto mid auto ah oo fit ku ah box dhan*/
  /*   grid-auto-rows: minmax(100px, auto);   */
  text-align: center;
  
  /*grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-gap: 10px; */
}

.box-1{
  background: #d9d9d9;
  grid-column: 1/2;
  grid-row: 1/3;
}

.box-2{
  background: #f1b613;
  grid-column: 2/4;
}

.box-3{
  background: #e7e1ac;
  grid-column: 1/2;
}

.box-4{
  background: #68b8f5;
  grid-column: 2/3;
  grid-row: 2/4;
  
}

.box-5{
  background: #fff;
  grid-column: 3/4;
  grid-row: 2/3;
  
}

.box-6{
  background: #000;
  color: #fff;
}
